{{#if banners.bottom}}
<div class="banners" data-banner-location="bottom">
    <div class="banner">
        {{{limit banners.bottom 1}}}
    </div>
</div>
{{/if}}


    <!-- Begin footer -->
  <footer class="footer" role="contentinfo">
    <div id="inner-footer" class="wrap cf">
      <div class="about-section">
        <div class="footer-logo s-logo">
          <img src="/stencil/theme/1/img/logo.svg" alt="">
          <span class="robot">Quality clothing</span>
        </div>
        <div class="content-section">
          <p>Timber Threads is a clothing company founded in 2009. It started in beautiful Denver, Colorado and has grown to many different places. It started out as something to do on the side but it has grown every year since. This is about art plain, simple, and to the point. Everything is 100% unique and will always stay that way.</p>
        </div>
      </div>
      <div class="colum-section">
        <div class="colum two">
        <div class="footer-links">
          <ul class="left-nav header-item">
            {{#each pages}}
            <li>
                <a href="{{url}}">{{name}}</a>
            </li>
            {{/each}}
          </ul>  
        </div>
          <div class="social-wrapper cf">
            <h3>Follow us on:</h3>
            <ul>
              <li><a href="//www.facebook.com/timber.threads.clothing"><i class="fa fa-facebook"></i></a></li>
              <li><a href="//instagram.com/timberthreads"><i class="fa fa-instagram"></i></a></li>
              <li><a href="//twitter.com/timber_threads"><i class="fa fa-twitter"></i></a></li>
              <li><a href="//www.youtube.com/user/timberthreads"><i class="fa fa-youtube"></i></a></li>
            </ul>
          </div>
          <div class="payment-wrapper cf">
            <h3>Payment options:</h3>
            <ul>
              <li><i class="fa fa-cc-paypal paypal"></i></li>
              <li><i class="fa fa-cc-mastercard"></i></li>
              <li><i class="fa fa-cc-discover"></i></li>
              <li><i class="fa fa-cc-visa"></i></li>
            </ul>
            
          </div>
          <p class="source-org clearfix copyright">&copy; 2015 Timber Threads Clothing.</p>
        </div>

      </div>
    </div>
  </footer>
