{{#if banners.top}}
<div class="banners" data-banner-location="top">
    <div class="banner">
        {{{limit banners.top 1}}}
    </div>
</div>
{{/if}}




      <header class="d-header header hidden-xs hidden-sm" role="banner">
        <div id="inner-header" class="cf inner-header">
          <nav role="navigation" class="main-nav" id="top-menu">
            <ul class="main-nav left-nav header-item">
                {{#each categories}}
                    <li>
                        <a href="{{url}}">{{name}}</a>
                    </li>
                {{/each}}
            </ul>  
            <div class="logo-wrapper header-item">
              <div class="logo-wrap">
                <a href="/">
                <img src="/stencil/theme/1/img/logo.svg" alt="">
                  <strong>Quality Clothing</strong>
                </a>
              </div>
            </div>
            <ul class="main-nav right-nav header-item">
             {{#each pages}}
                <li>
                    <a href="{{url}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>          
          </nav>

        </div>
        <div class="sub-header">
          <div class="social-links">
            
            <ul>
              <li><span>follow us:</span></li>
              <li><a target="_blank" href="//www.facebook.com/timber.threads.clothing"><i class="fa fa-facebook"></i></a></li>
              <li><a target="_blank" href="//instagram.com/timberthreads"><i class="fa fa-instagram"></i></a></li>
              <li><a target="_blank" href="//twitter.com/timber_threads"><i class="fa fa-twitter"></i></a></li>
              <li><a target="_blank" href="//vimeo.com/user30584886"><i class="fa fa-vimeo"></i></a></li>
            </ul>
          </div>
          <div class="store-links">
            <ul>
                <li><a href="/account.php">My Account</a></li>
                <li class="last CartLink js-drawermenu-cart">
                    <i class="icon icon-cart" title="View Cart">&nbsp;</i><a href="/cart.php"><span>{{lang 'cart.label' quantity=cart.quantity}}</span></a>
                </li>
            </ul>
          </div>
        </div>
      </header>