---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}


{{#if category.image}}
    <img src="{{getImage category.image 'zoom'}}">
{{/if}}
<h1 class="page-heading" style="display:none;">{{category.name}}</h1>

{{{snippet 'categories'}}}
<div class="page category-wrapper marg-top {{category}}">
    {{{category.description}}}
    <div class="container">
        <main class="page-content" id="product-listing-container">
            <div class="category-option-wrap">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                        <div class="col-xs-6">
                            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
                        </div>   
                        <div class="col-xs-6">
                            {{> components/products/filter sort=pagination.category.sort}} 
                        </div>
                    </div>
                    
                </div>
                
                
            </div>
            {{#if category.products}}
                {{> components/category/product-listing}}
            {{else}}
                <p>{{lang 'categories.no_products'}}</p>
            {{/if}}
        </main>
    </div>

</div>

{{/partial}}
{{> layout/base}}
