.spring-2015 {
  .lb-image-one {
    background: url(../../../spring-2015-image-one.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
  }
  .lb-image-two {
    background: url(../../../spring-2015-image-two.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
  }
  .lb-image-three {
    background: url(../../../spring-2015-image-three.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
  }
  .lb-image-four {
    background: url(../../../spring-2015-image-four.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
  }
  .lb-image-five {
    background: url(../../../spring-2015-image-five.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
  }
  .lb-image-six {
    background: url(../../../spring-2015-image-six.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
  }
}