// =============================================================================
// HEADER (CSS)
//
// 1. Setting font size of header-logo to 0, since wrapper element may vary, and
//    inline-block whitespace messes with header height. Font-size is reset to
//    appropriate size on header-logo-text.
// 2. Needs left/right margin so it doesn't cover left/right nav bar toggles
// 3. Offset the letter-spacing on the last character by adding a right negative
//    margin. This centers the text logo properly.
// 4. When the word "cart" is added to the mobile header's cart link, add more
//    margin to compensate.
//
// -----------------------------------------------------------------------------

.header {

  position:fixed;
  top:0;
  z-index: 20;

  width: 100%;
  text-align: center;  
  height:10rem;
  display: block;
  background: #000 url('../img/bg-header-black.jpg') no-repeat center center;
  .inner-header {
    display: inline-block;
    margin: 0 auto;
  }
  .header-item {
    float: left;
  }
  .main-nav { 
    float:left;  
    position:relative; 
    z-index: 3; 
    padding-top: 10px;
    border:none;
    ul { 
      line-height: 7; 
    }
    li {
      display:block; 
      float:left; 
    }
    a { 
      background: none; 
      text-decoration: none; 
      color:#fff;
      font-size: 18px;
      font-weight: 400;
      padding: 5px 12px;
      text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
      &:hover {
        color: #fec346;
        border-top:1px #fec346 solid;
        border-bottom:1px #fec346 solid;
      }
      &:active {
        color: #fec346;
        border-top:1px #fec346 solid;
        border-bottom:1px #fec346 solid;
      }
    }

  }  


  .main-nav > ul li ul {
    padding-left:20px;
    background:#000;
    display: none;

    li {
      padding: 0 0 0 5px; 
    }

  }

  .logo-wrap { 
    padding:0 35px;
    margin:15px 0 0;
    text-align:center; 
    strong {
      display: block;
      color:#fdc145; 
      font-size:16px;
    }
    a { 
      text-decoration:none; 
      color:#fff; 
      text-transform:uppercase; padding:0;
    }
    img { 
      display: block; 
      margin:0 auto; 
      padding-bottom:5px; 
      width: 18rem; 
    }
  }  
  .sub-header {
    height: 2rem;
    background:#000;
    width:100%;
    position:absolute;
    bottom:0;
    line-height: 2rem;
    .social-links,
    .store-links {
      li {
       
        float:left; 
        color:#fff;
        font-family: $league;
        font-size:1rem;
        a {
          font-family: $league;
          color:#fff;
          &:hover {
            color:$gold;
          }
        }
      }
    }
    .social-links {
      padding-left:1rem;
      float: left;
      li {
         margin:0 0.4rem 0 0;
        .fa {
          font-size:0.80rem;
        }
      }
    }
    .store-links {
      padding-right:1rem;
      float: right;
       margin:0 0 0 0.5rem ;
    }
  }    
}





//
// Mobile Menu Toggle
//
// 1. Animate lines from 'x' to hamburger
// -----------------------------------------------------------------------------

.mobileMenu-toggle {
    @include square($header-toggle-width);
    display: inline-block;
    font-size: 0;
    left: 0;
    overflow: hidden;
    padding: 0 remCalc(18);
    position: absolute;
    z-index: zIndex("high");

    @include breakpoint("medium") {
        display: none;
    }

    .mobileMenu-toggleIcon,
    .mobileMenu-toggleIcon::before,
    .mobileMenu-toggleIcon::after {
        background: $header-font-color;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        transform: rotate(0deg);
        transition: transform 100ms ease-in, top 100ms ease-in 150ms, bottom 100ms ease-in 150ms; // 1
        width: remCalc(20);
    }

    .mobileMenu-toggleIcon {
        top: remCalc(27);
        transition: background-color 10ms ease-in 100ms;
    }

    .mobileMenu-toggleIcon::before {
        top: -0.5rem;
    }

    .mobileMenu-toggleIcon::after {
        bottom: -0.5rem;
    }

    &.is-open .mobileMenu-toggleIcon {
        background-color: transparent;
        transition-delay: 100ms;

        // scss-lint:disable NestingDepth
        &::before,
        &::after {
            background-color: $header-font-color;
            bottom: auto;
            top: auto;
            transition: transform 100ms ease-in 150ms, top 100ms ease-in, bottom 100ms ease-in; // Animate lines from hamburger to 'x'
        }

        &::before {
            top: 0;
            transform: rotate(45deg);
        }

        &::after {
            bottom: 0;
            transform: rotate(-45deg);
        }

    }
}
