.contact-wrapper {
  .contact-header {
    background: url(../img/contact-header-bg.jpg)center center no-repeat fixed;
    background-size: cover;
    padding:15vh 10%;
    h2 {
      font-size:60px;
      text-transform: uppercase;
      color:#fff;

    }

  }

    .page-content {
      padding:2rem;
    }
}