<!DOCTYPE html>
<html class="no-js">
    <head>
        <title>{{ head.title }}</title>
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}
        <link rel="apple-touch-icon" sizes="57x57" href="{{cdn '/assets/img/favicons/apple-touch-icon-57x57.png' }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{cdn '/assets/img/favicons/apple-touch-icon-60x60.png' }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{cdn '/assets/img/favicons/apple-touch-icon-72x72.png' }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{cdn '/assets/img/favicons/apple-touch-icon-76x76.png' }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{cdn '/assets/img/favicons/apple-touch-icon-114x114.png' }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{cdn '/assets/img/favicons/apple-touch-icon-120x120.png' }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{cdn '/assets/img/favicons/apple-touch-icon-144x144.png' }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{cdn '/assets/img/favicons/apple-touch-icon-152x152.png' }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{cdn '/assets/img/favicons/apple-touch-icon-180x180.png' }}">
        <link rel="icon" type="image/png" href="{{cdn '/assets/img/favicons/favicon-32x32.png' }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{cdn '/assets/img/favicons/android-chrome-192x192.png' }}" sizes="192x192">
        <link rel="icon" type="image/png" href="{{cdn '/assets/img/favicons/favicon-96x96.png' }}" sizes="96x96">
        <link rel="icon" type="image/png" href="{{cdn '/assets/img/favicons/favicon-16x16.png' }}" sizes="16x16">
        <link rel="manifest" href="{{cdn '/assets/img/favicons/manifest.json' }}">
        <link rel="mask-icon" href="{{cdn '/assets/img/favicons/safari-pinned-tab.svg' }}" color="#5bbad5">
        <meta name="apple-mobile-web-app-title" content="TT">
        <meta name="application-name" content="TT">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png' }}">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="//fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {{{stylesheet '/assets/css/theme.css'}}}
        {{ getFontsCollection }}
        <script src="https://use.typekit.net/lah3aoe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        {{{head.scripts}}}
        {{{head.rsslinks}}}

        {{inject 'themeImageSizes' theme_settings._images}}
        {{inject 'genericError' (lang 'common.generic_error')}}
        {{inject 'maintenanceMode' settings.maintenance}}
        {{inject 'urls' urls}}
        {{{snippet 'htmlhead'}}}
    </head>
    <body>
        {{{snippet 'header'}}}
        <div class="icons-svg-sprite">{{> components/common/icons/icon-defs }}</div>

        {{#if settings.privacy_cookie}}
            {{> components/common/cookie}}
        {{/if}}

        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}

        <script>
            function startupApp(stencilBootstrap) {
                stencilBootstrap("{{template_file}}", {{jsContext}}).load();
            }
        </script>

        {{#if in_production}}
            <script src="{{cdn '/assets/js/bundle.js'}}"></script>
            <script>
                startupApp(stencilBootstrap);
            </script>
        {{else}}

            <script src="{{cdn '/assets/jspm_packages/system.js'}}"></script>
            <script src="{{cdn '/assets/config.js'}}"></script>
            <script src="{{cdn '/assets/js/dependency-bundle.js'}}"></script>
            <script>
                System.import("js/app").then(function(){ startupApp(stencilBootstrap)});
            </script>
            <script src="{{cdn 'assets/js/theme/carousel.js'}}"></script>
        {{/if}}
        {{{footer.scripts}}}
        {{{snippet 'footer'}}}
    </body>
</html>
